body {
  /* background-color: rgb(18, 89, 231); */
  background: linear-gradient(180deg, #FFE601, #E2471C);
  font-family: 'Inter';
  font-weight: 400;

  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;

  word-break: break-word;
  font-family: 'Caladea';
  font-weight: bold;
  font-size: 31px;
  letter-spacing: 4px;
  color: #000000;
}

header {
  margin: 0px 0px -14px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
img {
  width: 63px;
  margin-right: 10px;

}
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: calc(101vh - 102px); Adjust this height value as needed */
  }

main p{
  text-align: center;
  font-size: 28px;
}


/* Style the button */
button {
  border: none;

  margin: 10px;

  word-break: break-word;
  font-family: 'Caladea';
  font-weight: bold;
  font-size: 31px;
  letter-spacing: 4px;

  text-align: center;
  border-radius: 21px;
  background: linear-gradient(180deg, #69F039, #0DB145);
  justify-content: center;
  padding: 10px 0 10px 0;
  width: 180px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 3.8px;
  transition: color 200ms ease-in;
}
button:hover {
  background: #043949;
  color: white; /* Move the background gradient on hover */
  }

footer{
    display: flex;
    flex-direction: column;
}
h6{
    margin: 5px 0px;
}