body {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    font-family: 'Inter';
    font-weight: 400;
}

header {
    display: flex;
    align-items: center;
}

img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

h1 {
    font-size: 18px;
}

main {
    align-items: center;
    text-align: center;
}

h3 {
    font-size: 16px;
}
.quiz-input{
    width: 80%;
    margin-bottom: 10px;

}
.api-key-textarea {
    height: 50px;
    width: 90%;
    max-width: 450px;
    resize: vertical;
    overflow: auto;
}
textarea {
    height: 120px;
    width: 90%; 
    max-width: 450px; 
    resize: vertical;
    overflow: auto;
}

.quiz-input select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

.quiz-input label {
    margin-bottom: 5px;
    display: block;
}

#generate-quiz {
    display: inline-block;
    background: linear-gradient(to right, var(--yellow) 0%, var(--green) 50%, var(--yellow) 100%);
    background-size: 500%;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    color: var(--black);
    cursor: pointer;
    font: 1em Inter, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 3rem;
    letter-spacing: 0.05em;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 80%;
    max-width: 400px;
    transition: background-position 0.7s ease;
    margin-top: 10px;
}

#generate-quiz:hover {
    background-position: 100%;
}
