body {
  background: linear-gradient(45deg, #3a1c71, #d76d77, #ffaf7b);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #fff;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  padding: 20px;
}

img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  text-align: center;
}

h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

#text-input {
  height: 50px;
  width: 80%;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  resize: vertical; /* Allow vertical resizing */
  overflow: hidden; /* Hide scrollbars */
}

#file-upload {
  display: none;
}

label {
  display: inline-block;
  background: linear-gradient(to right, #fddb92 0%, #d1fdff 100%);
  border: none;
  border-radius: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  color: #333;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 40px;
  outline: none;
  transition: background-position 0.7s ease;
  margin-bottom: 20px;
}

label:hover {
  background-position: 100%;
}

.button-container {
  display: flex;
  gap: 20px;
}

button {
  background: linear-gradient(to right, #41b883 0%, #14aaf5 100%);
  border: none;
  border-radius: 40px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  padding: 15px 40px;
  outline: none;
  transition: background-position 0.7s ease;
}

button:hover {
  background-position: 100%;
}

#back-button {
  background: linear-gradient(to right, #fc575e 0%, #f7b42c 100%);
}

#next-button {
  background: linear-gradient(to right, #41b883 0%, #14aaf5 100%);
}

.loading-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  border: 4px solid #fddb92;
  border-top: 4px solid #d1fdff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-self: center;
  animation: spin 1s linear infinite;
  margin-left: 10px;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
