@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  @apply border-4 border-t-4 border-white rounded-full w-16 h-16 animate-spin;
}

#root {
  width: 360px;
  height: 520px;
  opacity: 0.98;
}

.my-custom-root {
  height: 55rem;
}

.border-gradient {
  border-width: 2px; 
  border-style: solid;
  border-image: linear-gradient(to right, #ff005c, #7600f2, #00cbe7);
  border-image-slice: 1;
  border-radius: 2rem;
}

/* index.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;
}
